@font-face { 
  font-family: 'Geomanist'; 
  src: url('./fonts/Geomanist-Book.otf');
  font-weight: normal; 
  font-style: normal;
}

* {
  outline: none;
}

body {
  font-family: 'Geomanist', Arial, Helvetica, sans-serif; 
  padding: 0;
  margin: 0;
  background: #303044;
  background-image: url(./images/GradientMap.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-sizing: border-box;
  font-size: 14px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background: #262536;
  height: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav__list {
  width: 350px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
}

.header__nav__list>li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  height: 72px;
}

.header__nav__list>li:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b34c9c, #ca725d);
}

.header__nav__list>li:hover {
  background: linear-gradient(to top, #2b2a3b, #252434);
}

.header__status {
  width: 284px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__play {
  font-family: 'Geomanist'; 
  cursor: pointer;
  position: relative;
  background: linear-gradient(to right, #252535, #36364c);
  height: 43px;
  width: 107px;
  border: 2px solid #8d8aba;
  border-radius: 50px;
  color: white;
  margin-right: 10vw;
  margin-top: 4px;
}

.header__play:focus {
  outline: none;
}

.header__play::after {
  content: "";
  position: absolute;
  border: 2px solid #232333;
  height: 35px;
  width: 99px;
  border-radius: 50px;
  top: 0;
  right: 0;
}

.header__play:hover {
  border: 3px solid #8d8aba;
}

.header__play:hover::after {
  border: none;
}

.cup {
  position: relative;
  width: 36px;
  height: 33px;
}

.cup::before {
  position: absolute;
  content: "";
  background: #2d283d;
  border-radius: 50px;
  width: 17px;
  height: 17px;
  top: -4px;
  right: -4px;
} 

.cup::after {
  position: absolute;
  content: "";
  background: linear-gradient(45deg, #ba47c0, #7e35c1);;
  border-radius: 50px;
  width: 9px;
  height: 9px;
  top: 0;
  right: 0;
} 

.notification {
  position: relative;
  width: 24px;
  height: 22px;
}

.notification::before {
  position: absolute;
  content: "";
  background: #2d283d;
  border-radius: 50px;
  width: 17px;
  height: 17px;
  top: -8px;
  right: -3px;
} 

.notification::after {
  position: absolute;
  content: "";
  background: linear-gradient(45deg, #4fbcb0, #40d87d);;
  border-radius: 50px;
  width: 9px;
  height: 9px;
  top: -4px;
  right: 1px;
} 

.gem-out-block {
  position: relative;
  width: 86px;
  height: 39px;
  background: linear-gradient(to right, #6e31c4, #d54ec5);
  border-radius: 25px;
}

.gem {
  width: 18px;
  height: 18px;
}

.gem-out-block::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 31px;
  border: 2px solid #232333;
  background: linear-gradient(to right, #2d273e, #38374e);
  border-radius: 25px;
  top: 2px;
  left: 2px;
  z-index: 1;
}

.gem-in-block {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 86px;
  height: 39px;
}

.gem-in-block::before {
  content: url(./images/gemcop2.svg);
  position: absolute;
  z-index: 5;
  opacity: 0.2;
  bottom: -3px;
  right: -9px;
}

.gem-in-block::after {
  content: url(./images/gemcop3.svg);
  position: absolute;
  z-index: 5;
  opacity: 0.2;
  top: 2px;
  left: 8px;
}

.gem,
.gem-available {
  z-index: 5;
}

.avatar-out-block {
  position: relative;
  width: 51px;
  height: 51px;
  border-radius: 50px;
  background: linear-gradient(to right, #706e9b, #9390bf);
  margin-right: 20px;
}

.avatar-out-block::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  border: 3px solid #242433;
  border-radius: 50px;
  background: linear-gradient(to right, #d452b6, #ee8169);
  bottom: -2px;
  right: -1px;
  z-index: 1;
}

.avatar-out-block::after {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid #242433;
  border-radius: 50px;
  background: #242433;
  bottom: 3px;
  right: 4px;
  z-index: 2;
}

.avatar-in-block {
  overflow: hidden;
  content: "";
  top: 2px;
  left: 2px;
  position: absolute;
  width: 43px;
  height: 43px;
  border: 2px solid #232333;
  border-radius: 50px;
  background: linear-gradient(to right, #282738, #37364c);
}

.avatar-in-block::after {
  content: url(./images/Layer17.svg);
  position: absolute;
  border-radius: 50px;
  height: 100%;
  width: 67px;
  top: -16px;
  left: -13px;
}

svg {
  opacity: 0.3;
}

svg:hover {
  fill: url(#linear-gradient);
  cursor: pointer;
  opacity: 1;
}

.views,
.likes {
  color: grey;
}

.views:hover,
.likes:hover {
  cursor: pointer;
  color: white;
}

.news {
  display: flex;
  justify-content: space-around;
}



.main__back {
  position: relative;
  font-size: 18px;
  margin: 30px 0;
}

.main__back img {
  margin-right: 21px;
}

.news__block {
  margin-left: 20px;
  display: grid;
  grid-template-columns: minmax(320px, 832px);
  row-gap: 20px;
}

.news__nav {
  display: flex;
  align-items: center;
  height: 71px;
  border-radius: 25px;
  background: #262636bf;
}

.news__nav__list a {
  display: flex;
 align-items: center;
}

.news__nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 27px;
}

.news__nav__list>li {
  align-items: center;
}

.news__shape-left {
  height: 14px;
  margin-right: 20px;
}

.news__shape-right {
  height: 14px;
  margin-left: 20px;
}

.article {
  border-radius: 25px;
  background: #232333;
  padding: 25px 23px 33px;
  font-size: 16px;
  line-height: 25px;
}

.article__image {
  overflow: hidden;
  background: url(./images/img_article.svg) no-repeat;
  background-size: cover;
  border-radius: 25px;
  width: 100%;
  height: 310px;
}

.article__content {
  margin-bottom: 58px;
  color: #9d9acc;
}

.article__title {
  font-size: 22px;
  color: white;
}

.article__date {
  opacity: 0.4;
}

.article__content p:nth-child(3) {
  margin-bottom: 32px;
}

.line {
  margin: 0 -23px;
  opacity: 0.2;
  border-top: 2px solid #9d9acc;
}

.article__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.social,
.activity {
  width: 226px;
  height: 50px;
  display: flex;
  align-items: center;
}

.activity {
  justify-content: flex-start;
}

.social {
  justify-content: flex-end;
}

.likes,
.views {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.social>a {
  margin-top: 35px;
  margin-left: 22px;
}

.views>span,
.likes>span {
  margin-left: 14px;
}

.views {
  margin-left: 46px;
}

.news__comments {
  padding: 31px 23px 0;
  border-radius: 25px;
  background: #232333;
}

.comments__title {
  height: 51px;
  display: flex;
  justify-content: space-between;
}

.number-of-comments {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.number-of-comments>svg {
  margin-right: 20px;
}

.number-of-comments p {
  margin: 0;
  color: #808080;
}

.number-of-comments>span {
  margin-left: 10px;
}

.comments__nav>ul {
  display: flex;
  margin: 0;
}

.comments__nav li {
  position: relative;
  padding: 0 10px;
}

.comments__nav>ul>li:first-child {
  margin-right: 53px;
}

.comments__nav>ul>li:last-child {
  display: flex;
  margin-right: 20px;
}

.comments__nav li:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -35px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #d94fc7 0%, #ff905a 100%);
}

.comment-form {
  position: relative;
}

.add__comment {
  margin: 28px 0 32px;
  box-sizing: border-box;
  font-family: 'Geomanist', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  border-radius: 15px;
  background: #29293b;
  border: none;
  padding: 24px 55px 24px 24px;
  color: white;
}

.add__comment::placeholder {
  opacity: 0.3;
}

.submit-button {
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  content: "";
  top: 55px;
  right: 31px;
}

.comment {
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #9d9acc33;
  margin-bottom: 16px;
}

.comment-text {
  max-width: 662px;
}

.comment-text p {
  line-height: 24px;
}

.comment__autor-avatar {
  position: relative;
  background-color: #9d9acc;
  width: 61px;
  height: 61px;
  overflow: hidden;
  border-radius: 100px;
  margin-right: 18px;
  background-image: url(./images/Layer1153.svg);
  background-position-x: right;
}

.more__news {
  margin: 0 20px;
}

.more__news h2 {
  margin: 30px 0;
}

.related-news {
  display: flex;
  align-items: flex-end;
  margin-top: 45px;
  height: 263px;
  border-radius: 25px;
  max-width: 443px;
  overflow: hidden;
  background-image: url(./images/Layer1152.svg);
  background-size: cover;
}

.news-title {
  font-size: 14px;
  color: rgb(157,154,204);
  box-sizing: border-box;
  background-color: rgb(35, 35, 51, 0.9);
  text-align: start;
  padding: 9px 25px 16px 25px;
}

.news-title h3 {
  margin-bottom: 14px;
  font-size: 18px;
  color: white;
}

@media screen and (max-width: 1154px) {
  .more__news {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .header__nav__list {
    display: none;
  }

  .news__block {
    margin: 0;
  }
}

@media screen and (max-width: 750px) {
  .comment__autor-avatar {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .avatar-out-block {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .header__play {
    margin-left: 20px;
  }
}

@media screen and (max-width: 410px) {
  .article__footer {
    margin-left: 20px;
    flex-direction: column;
    align-items: center;
  }

  .social {
    justify-content: space-between;
    margin-right: 50px;
  }

  .number-of-comments p {
    display: none;
  }

  .comments__nav>ul>li:last-child {
    margin: 0;
  }
}